*{
	font-family: Verdana;
}

body{
	background-color:#3869A0;
	/*min-height:600px;*/
	width:1023px;
	margin: 0 auto;
	padding:5px;
}

/* MENU HORIZONTAL */
#menudrop, #menudrop ul, #menudrop ul li, #menudrop ul li ul, #menudrop ul li ul li {
	margin:0;
	padding:0;
}

#menudrop{
	list-style:none;
	font-weight:bold;
	margin:0 0 10px 0;
	float:left;
	width:1022px;
	background-color:white;
	border-radius: 7px 7px 7px 7px;
	border-style: solid;
	border-width: 0px;
	box-shadow:2px 2px 3px black;
	/* Forzar superposición del menú
	position:relative;
	z-index:5;
	Quitar el comentario si se necesita
	*/
}

#menudrop li{
	float:left;
	margin-left:10px;
	position:relative;
}

#menudrop a{
	display:block;
	padding:5px;
	color:#3869A0;
	text-decoration:none;
}

#menudrop a:hover{
	color:white;
	background-color:#3869A0 !important;
	text-decoration:none;
}

#menudrop ul{
	/* Color de fondo de la web -para IE- */
	background:white;
	/* Idem transparente para navegadores que lo soporten */
	/*background:rgba(255,255,255,0);*/
	list-style:none;
	position:absolute;
	left:-9999px; /* Escondemos inicialmente los submenús */
	z-index: 9;
}

#menudrop ul li{
	padding-top:1px; /* Separación vertical entre elementos */
	float:none;
}

#menudrop li ul{
	border-radius: 7px 7px 7px 7px;
	border-style: solid;
	border-width: 0px;
	box-shadow:2px 2px 3px black;
}

#menudrop ul a{
	white-space:nowrap; /* Separa los elementos en diferentes líneas */
}

#menudrop li:hover ul{
	left:0; /* Submenús visibles */
}

/* Para que cuando se mueva el cursor por los elementos del submenú los elementos permanecen visibles */
#menudrop li:hover a{
	/*background-color:white; /* Aprovechamos para cambiar de color los señalados */
	text-decoration:none;
}

#menudrop li:hover ul a{
	text-decoration:none;
}

#menudrop li:hover ul li a:hover{
	/*background-color:#3869A0;*/
}


#barra_izq{

	width: 200px;
	background-color:white;
	border-radius: 7px 7px 7px 7px;
	border-style: solid;
	border-width: 0px;
	box-shadow:2px 2px 3px black;
	padding:7px;
	float:left;
}

#cuerpo{
	float:right;
	width:780px;
	background-color:white;
	border-radius: 7px 7px 7px 7px;
	border-style: solid;
	border-width: 0px;
	box-shadow:2px 2px 3px black;
	padding:7px;
	margin:0 0 10px;
}

div.cuerpo_centro{
	float:left;
	width:1010px;
	background-color:white;
	border-radius: 7px 7px 7px 7px;
	border-style: solid;
	border-width: 0px;
	box-shadow:2px 2px 3px black;
	padding:7px;
	margin:0 0 10px;
}


div.main_center{
	text-align:center;
}
div.marco{
	width:780px;
	background-color:white;
	border-radius: 7px 7px 7px 7px;
	border-style: solid;
	border-width: 0px;
	box-shadow:2px 2px 3px black;
	padding:15px;
	margin:0 auto 0 auto;
}

/* LOGIN */
#main{
	
}

h1#logo{
	text-align: center;
	font-size:80px;
	color: #F0F0F0;
	text-shadow: 2px 5px 20px black;
	margin-bottom:90px;
}

h2.encabezado{
	text-align:center;
	font-size:36px;
	color: #F0F0F0;
	text-shadow: 2px 5px 20px black;
	margin:10px;
}

#form{
	text-align: center;
	padding: 15px;
	width:270px;
	margin: 0px auto 0 auto;
	background-color:white;
	border-radius: 10px 10px 10px 10px;
	border-style: solid;
	border-width: 0px;
	box-shadow:5px 5px 5px black;
	line-height:30px;
}


#form button {
	background-color:#59A5E3;
	border-radius: 5px 5px 5px 5px;
	height: 34px;
	color: #FFFFFF;
	font-size: 14px;
	width: 90px;
	border: 0 none;
	margin: 5px 5px 5px 5px;
	cursor: pointer;
	font-family: "Lucida Grande",Arial,Helvetica,sans-serif;
}

#creditos{
	z-index:-1;
	position: fixed;
	bottom: 0;
	width: 98%;
	width:1023px;
	text-align:center;
}

#creditos div{
	display:inline;
	border-top: 1px solid black;
	text-align:center;
	background-color:white;
	border-radius: 10px 10px 0 0;
	border-style: solid;
	border-width: 0px;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2), 0 6px 5px -5px rgba(0, 0, 0, 0.5) inset;
}

#creditos p{
	display:inline;
	margin-right: 50px;
	margin-left: 50px;
	font-size:12px;
}



#encabezado {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 56px;
	font-weight: bold;
	letter-spacing: 10px;
	color: white;
	text-shadow: 2px 2px 4px #000000;
	font-style: normal;
}




#estado{
		margin-left: 210px;
}



#help_div{
	display:none;
	position:absolute;
	border:2px solid red;
	padding:4px;
	background-color:#FFDDDD;
	vertical-align:middle;
	border-radius: 10px;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2), 0 6px 5px -5px rgba(0, 0, 0, 0.5) inset;
}

#help_div img{
	height:20px;
	width:20px;
}


div.error{
	text-align:center;
	border:2px solid red;
	padding:4px;
	background-color:#FFDDDD;
	vertical-align:middle;
	border-radius: 10px;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2), 0 6px 5px -5px rgba(0, 0, 0, 0.5) inset;
}